body {
  text-align: center;
  .page {
    .ui-content {
      .qr-code {
        background-color: #B8CD53;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        padding-bottom: 5px;
        .qr-pic-wrapper {
          margin-top: 10px;
          .qr-pic {
            margin-top: 15px;
            width: 115px;
            height: 115px;
          }
        }
        .description {
          font-size: small;
          border-radius: 8px;
          border: #FFFFFD solid 1px;
          margin: 25px 10% 5px 10%;
          h3 {
            color: #FFFFFD;
            margin: -10px auto 10px auto;
            font-size: 15px;
            font-weight: bold;
            background-color: #B8CD53;
            width: 150px;
            padding: 0 15px;
          }
          p {
            margin: 0 auto;
            padding: 2px 15px;
            font-size: 9px;
            font-weight: lighter;
          }
          .desc-qr-method {
            text-align: left;
            color: #FFFFFD;
          }
        }
      }
      .approach-money {
        padding-top: 10px;
        padding-bottom: 15px;
        background-color: #0099A2;
        color: #FFFFFD;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        .slogan {
          font-weight: bold;
          .slogan-company {
            font-size: 19px;
          }
          .slogan-theme {
            font-size: 22px;
          }
        }
        .earn-money-details {
          margin-top: 8px;
          font-weight: lighter;
          font-size: 13px;
          .earn-money-method-desc {
            padding-bottom: 3px;
          }
        }
      }
    }
  }
}